* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



.wrapper {
    background-color: #1c1c1c;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
}

.screen {
    width: 100%;
    height: 100px;
    color: white;
    font-size: 70px;
    font-weight: 400;
    margin: 20px -10px;
    text-align: right;
}

.key-row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 12px;
    row-gap: 15px;
    align-items: end;
}

.key {
    border-radius: 50%;
    border-color: transparent !important;
    width: 80px;
    height: 80px;
    font-size: 35px;
}

.key:hover {
    cursor: pointer;
}

.number {
    background-color: #505050;
    color: white;
}

.system,
#reverse {
    background-color: #d4d4d2;
    color: black;
}

.operator {
    background-color: #ff9500;
    color: white;
}

.long {
    grid-column: span 2;
    width: 180px;
    border-radius: 50px;
}